.fdgImage {
  background: rgb(27, 64, 145);
  background: linear-gradient(
    149deg,
    rgba(27, 64, 145, 1) 0%,
    rgba(2, 143, 76, 1) 100%
  );
}

.h-full {
  height: 100%;
}

.text-shadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.flex-0 {
  flex: 0 !important;
}

.icon {
  fill: currentColor
}
